<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="Constr" connectionString="Data Source=221.181.197.119,1598; Database=ELCClassRoom; Uid=ace; Pwd=1qaz2wsx"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="IP" value="8998"/>-->
    <add key="NormalPort" value="8998"/>
    <add key="SoundPort" value="9889"/>
    <add key="CacheIp" value="221.181.197.119"/>
    <!--<add key="ServerIp" value="120.27.27.164"/>-->
    <add key="CachePort" value="6889"/>
  </appSettings>
</configuration>
